body{
    
    background-image:url(Gestao.png);
    background-size: 250px;
    background-repeat: no-repeat;
    background-position:top;
    background-color: white;
}

.nome1{
    display:flex;
   flex-direction: row;
   justify-content: center;

}


:root{
 --cor-fundo : rgb(0, 0, 0);
 --cor-hover : rgb(38, 68, 150);
 --cor-primaria : rgb(255, 255, 255);
}

.dp-menu ul{
    list-style-type: none;
    padding: 0%;
}

.dp-menu ul{
    background-color:var(--cor-fundo);
}

.dp-menu ul li{
    display: inline-block;
    position: relative;
}

.dp-menu ul li a{
    color: var(--cor-primaria);
    text-decoration: none;
    display:inline-block;
    padding: 09px;
    transition: background .3s;
    margin-right: auto;
    margin-left: auto;
    width: 20.6em;
}

.dp-menu li a:hover{
    background-color: var(--cor-hover);
}

/*Sub-Menu*/

.dp-menu ul ul{
    display: none;
    left: 0;
    position:absolute;
    opacity: 0;
    transition: all .8s;
}

.dp-menu ul li:hover ul{
    display: block; 
    opacity: 1;
}

.dp-menu ul ul{
width: 250px;
}

.dp-menu ul ul li a{
    display: flex; 
}


/*CODIGO DO SCRIPT*/
.cadastro{
    justify-content: center;
    display: flex;
    padding: 10px;
}

.serie{
justify-content: center;
display: flex;
}

.box{
    justify-content: center;
    display: flex;
}